<div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }">
    <div id="quickviewDiv" ng-controller="quickviewCtrl" ng-style="mystyle">
        <table class="table table-condensed table-bordered table-hover">
            <tr ng-repeat="(k,v) in gridOptions.data[0]"><td style="font-weight: bold; color: black">{{k}}</td>
                <td style="font-weight: normal; color: darkgreen" pstd="{{v}}"></td></tr>
        </table>
    </div>
</div>
<div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>